<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<!-- Materialize Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Materialize CSS Framework -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- JavaScript for Materialize -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
        <ul class="right">
            <li>
            <li><a href="/rooms"><i class="material-icons left">home</i>Home</a></li>
            <!-- new html below -->
            <% if (user) { %>
                <p><%=user.name%></p>
                <a href="/logout" class="waves-effect waves-light btn"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
                <a href="/auth/google" class="waves-effect waves-light btn"><i class="material-icons left">vpn_key</i>Login</a>
            <% } %>
            </li>
        </ul>
    <main>
        <h1><%= title %></h1>