<%- include('../partials/header') %>

    <section class="container" id="rooms">
    <% rooms.forEach(function(room) { %>
        <a href="/rooms/<%=room._id%>"><p><%= room.title %></p></a>

    <%})%>
    </section>

<%- include('../partials/footer') %>