.brand-logo {
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;
}

.card .card-content .card-title {
    margin-bottom: 10px;
}

header {
    height: 100px;
}

.collection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}