* {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

nav {
    background-color: darksalmon;
    justify-content: right;
    display: flex;
}

button {
    background-color: darkcyan;
    margin: 20px;
    justify-content: right;
}

br {
    background-color: darkcyan;
    margin: 150px;
}

h1 {
    background-color: lightcyan;
}

h2 {
    background-color: lightcyan;
}

#rooms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

#rooms:visited {
    color: coral;
}

#comment-box {
    border: 1px black solid;
    display: flex;
    align-items: center;
}

#del-btn {
    background-color: lightsalmon;
    font-family: 'Poppins', sans-serif;
}

.postcard {
    margin-bottom: 10px;
}