* {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

nav {
    background-color: darksalmon;
    justify-content: right;
    display: flex;
}

button {
    background-color: aqua;
    margin: 20px;
    justify-content: right;
}

#rooms {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#comment-box {
    border: 1px black solid;
    justify-content: center;
}

.postcard {
    margin-bottom: 10px;
}