<%- include('../partials/header') %>

<h1>I'm Here!!</h1>
<form action="/foodies/create" method="POST">
<input type="text" name="name" placeholder="name"/>
<input type="text" name="email" placeholder="email"/>
<button type="submit">SUBMIT</button>
</form>

<%- include('../partials/footer') %>